{% extends 'layout.html' %}

{% block head %}
<title>Halaman Home Bootstrap</title>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="" class="navbar-brand">Navbar</a>
            <form action="" class="d-flex">
                <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-succsess" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<h1>ini adalah halaman home</h1>
{% endblock %}